<section class="image-gallery">
    {% for gallery in galleries %}
    <div class="image-box">
        <img src="{{ gallery.lien }}" alt="{{ gallery.titre }}" />
        <div class="overlay">
            <div class="details">
                <h3 class="title">
                    <a href="#"></a>
                </h3>
                <span class="category">
              <a href="#">Suite </a>
            </span>
            </div>
        </div>
    </div>
   {% endfor %}
</section>