<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h2>Our Services</h2>
                <h6>SERVICES</h6>
                <p>Description services</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                    <div class="iconbox">
                        <em>
                            <em class="fa-solid fa-hotel"></em>
                        </em>
                    </div>
                    <h5 class="mt-4 mb-2">HOTELIER</h5>
                    <p>Description service 1 escription</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                    <div class="iconbox">
                        <em>
                            <em class="fa-solid fa-spa"></em>
                        </em>
                    </div>
                    <h5 class="mt-4 mb-2">SPA</h5>
                    <p>Description service 1</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                    <div class="iconbox">
                        <em>
                            <em class="fa-solid fa-utensils"></em>
                        </em>
                    </div>
                    <h5 class="mt-4 mb-2">RESTAURANT</h5>
                    <p>Description service 1</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                    <div class="iconbox">
                        <em>
                            <em class="fa-solid fa-hotel"></em>
                        </em>
                    </div>
                    <h5 class="mt-4 mb-2">HOTELIER</h5>
                    <p>Description service 1 escription</p>
                </div>
            </div>
        </div>
    </div>
</section>