<!-- Welcome -->
<div id="home" class="welcome vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white">HYPNOS Groupe Hôtelier</h1>
                <p class="text-white my-4">text introduction</p>
                <a href="#" class="btn btn-warning">See More</a>
            </div>
        </div>
    </div>
</div>
<!-- EndWelcome -->