.bg-cover {
  background-image: url("../../gallery/tholaal-mohamed.jpg");
}
.img-cover {
  width: -moz-available;
  //noinspection CssInvalidPropertyValue
  width: -webkit-fill-available;
  //noinspection CssInvalidPropertyValue
  width: fill-available;
}

#contact_envoyer {
  background-color: var(--sand);
  color: var(--dark);
  border: var(--dark);
  width: 100%;
  &:hover {
    background-color: var(--dark);
    color: var(--white);
  }
}