//ESTABLISHMENT
.esta {
  p {
    color: var(--dark-light);
  }
  img {
    width: 50%;
    height: 50%;
  }
  .call-to-action-book {
    font-family: var(--font-special);
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
    &:hover {
      color: var(--sand);
      cursor: pointer;
    }
  }
}
