//FOOTER
.footer-top{
  padding: 90px;
  background-color: var(--dark);
  a {
    color: var(--body);
    &:hover {
      color: var(--primary);
    }
  }
  .logo {
    width: 160px;
    color: var(--white);
  }
}
.footer-bottom {
  background-color: var(--dark-light);
}

footer{
  background:#ccc;
  position:absolute;
  width:100%;
  padding-top:50px;
  height:50px;
}