@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Spectral&display=swap');

:root {
  --sand: #e3c56b;
  --primary: #daa520;
  --dark: #303030;
  --body: #d2cdcd;
  --dark-light: #4c4c4c;
  --log: #1c1911;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  --font-body: Spectral, 'sans-serif' ;
  --font-special: Kaushan Script, 'sans-serif' ;
}

body, html{height:100%;}

body {
  font-family: var(--font-body);
  line-height: 1.7;
  color: var(--body);
}

main{
  margin:0 auto;
  position:relative;
}

h1,h2,h4,h5,
.display-4 {
  color: var(--dark);
  font-weight: 700;
  font-family: var(--font-special);
}

h3 {
  color: var(--sand);
  font-weight: 700;
  font-family: var(--font-body);
}

a {
  color: var(--dark);
  text-decoration: none;
  font-family: var(--font-body);
  &:hover {
    color: var(--primary);
  }
}